#FastAPI 및 ASGI 서버
fastapi
uvicorn

#Pydantic
pydantic
pydantic-settings

#비동기 DB
SQLAlchemy[asyncio]

#비동기 MySQL 드라이버
aiomysql

#DB Migration
alembic

#Celery 및 Redis
celery
redis

#API 통신
httpx

#보안
python-dotenv
passlib==1.7.4
cryptography
python-jose==3.3.0

#LLM

#ETC
python-multipart